body {
  margin: 0;
}

.upper-header {
  text-align: left;
  /*color: rgb(124, 79, 167); use for other texts*/
  color: rgb(38, 13, 61);
}

.container {
  margin: 5% 2% 1% 2%;
  background-color: #FFFFFF;
  border: 1px solid grey;
  border-radius: 20px;
}

.side-navbar {
  position: sticky;
  top: 25%;
  right: 0;
  position: fixed;
  width: 20%;
}

.incont-navbar-month {
  display: flex;
  
}